*,
*::after,
*::before {
   box-sizing: border-box;
}

body {
   font-family: 'Montserrat', sans-serif;
   font-weight: 400;
}

.container {
   max-width: 1200px;
   padding: 0px 15px;
   margin: 0 auto;
}

.header {}

.header__inner {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 105px;
}

.header__logo {}

.header__text {
   margin-right: auto;
   margin-left: 30px;
   color: #9a9a9a;
   font-size: 16px;
}

.header__phone {
   font-size: 20px;
   font-weight: 500;
}

.header__phone a {
   color: #303030;
   text-decoration: none;
   position: relative;
}

.header__phone a::before {
   content: "";
   position: absolute;
   background-image: url(../images/phone.svg);
   width: 15px;
   height: 15px;
   left: -27px;
   top: 5px;
}

.header__phone-text {
   font-size: 12px;
   font-weight: 400;
   color: #9a9a9a;
   text-align: right;
   padding-top: 3px;
}